@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://www.gifsanimados.org/cat-aviones-71.htm"><img src="https://www.gifsanimados.org/data/media/71/avion-imagen-animada-0030.gif" border="0" alt="avion-imagen-animada-0030" /></a>
    
</div>
